<p>This will not be an introductory course to preprocessor.<br />
Rather, it is a guide for someone who is using C day to day, to use preprocessor more efficiently. Or to look more like a mad man and get murdered by the next person who will have to inherit the code.</p>
<h1>Fascination</h1>
<p>I do not quite understand what I find exactly so mysterious about C preprocessor. It is indeed like small puzzles, small Legos scattered around, that you can connect together and maybe built some oddly looking monster no one will want to look at. The Legos are really specific, from a really cheap off-brand, not all match together. You have to be either really clever or use a big hammer, or both, to finally piece two Legos together.</p>
<p>I spent a lot of time researching C preprocessor and answering sane C<br />
preprocessor related questions on Stack Overflow. I do not think when I write<br />
yet another macro, overloaded on number of arguments. Furthermore, I&#8217;ve<br />
written code generating C preprocessor code in PHP, Jinja2, m4, and also in C itself.</p>
<p>C preprocessor is limited. You should not use it. You should use Rust macros or C++ templates. I believe the combination of that &quot;forbidden knowledge&quot; smell and the really oddly shaped puzzles create this specific environment where what you do is fun, fulfilling and exciting.</p>
<h1>Overload on number of arguments.</h1>
<p>Overloading a macro on number of arguments has been my base for any transformations. I say it is really important and this is the most useful transformation I use. I throw it basically anytime I have to do something, as more often than not, I want to handle many arguments or default arguments in macros.</p>
<p>Preprocessor does not have loops. You almost <em>have to</em> write out every single case. <a href="https://github.com/pfultz2/Cloak/wiki/C-Preprocessor-tricks,-tips,-and-idioms">You can use recursive expansion</a>, but I found that no one ever writes code that uses it, only C preprocessor maniacs. While it is great, and such people understand it, I do not see such code written on stack overflow to solve real life problems. I understand recursive expansion is used to solve interesting problems and write libraries by people well versed in C preprocessor.</p>
<p>I want my code to be simple, readable, easy to follow. The <code>EVAL(EVAL(EVAL(</code> results in unmaintainable code and unreadable error messages. I do not want that. At least I try to. I do not see real-life good examples of using recursive expansion. Additionally, there is one big problem with recursion in macro &#8211; you are not able to pass state. You can expand, up down, but you can&#8217;t pass state to the side, which is very, very limiting in many cases.</p>
<h1>Macro concatenation to get another macro.</h1>
<p>For the purpose of this article, let&#8217;s write a <code>FOREACH</code> macro that will handle up to 4 arguments. That number of arguments is enough to see the pattern to how to generate such code with a template language.</p>
<p>The <code>FOREACH</code> macro will apply a macro <code>f</code> taken by argument on each of the arguments. The hearth of a macro overload on arguments is what I call an &quot;arguments shifting macro&quot;. And I do apologize in advance for my names.</p>
<pre><code>#define FOREACH_N(_4,_3,_2,_1,N,...)  FOREACH##N
#define FOREACH(f, ...)               FOREACH_N(__VA_ARGS__,_4,_3,_2,_1)(f, __VA_ARGS__)</code></pre>
<p>Firstly, we can see that the pattern <code>_4,_3,_2,_1</code> is repeated twice. This is a hint if you want to generate the code with a template language. The arguments <code>f</code> before <code>...</code> jumps to the end on <code>(f, __VA_ARGS__)</code> repeating all the arguments the macro received.</p>
<p>The <code>FOREACH_N</code> exists to pick a suffix of the next macro that will be called depending on the number of arguments. With one argument, <code>N</code> will be <code>_1</code>, in which case <code>FOREAHC##N</code> will become <code>FOREACH_1</code>. With two arguments, <code>N</code> will be <code>_2</code>, and so on.</p>
<p>The number of arguments &quot;shifts&quot; the chain to the right, causing <code>N</code> to land on a number more to the left.</p>
<pre><code>                             FOREACH_N(_4, _3, _2, _1,  N, ...)
FOREACH(f, a)             -> FOREACH_N( a, _4, _3, _2, _1)
FOREACH(f, a, b)          -> FOREACH_N( a,  b, _4, _3, _2, _1)
FOREACH(f, a, b, c)       -> FOREACH_N( a,  b,  c, _4, _3, _2, _1)
FOREACH(f, a, b, c, d)    -> FOREACH_N( a,  b,  c,  d, _4, _3, _2, _1)
FOREACH(f, a, b, c, d, e) -> FOREACH_N( a,  b,  c,  d,  e, _4, _3, _2, _1)</code></pre>
<p>If we pass more arguments than cases, then oops &#8211; N becomes the 5th<br />
argument. Usually this is not handled, and user is greeted with some<br />
error message.</p>
<h1>Cases</h1>
<p>Then we have to write each individual cases. There are two styles that<br />
I use. The &quot;plain&quot; style is just where you list all the cases one by one:</p>
<pre><code>#define FOREACH_1(f, a)           f(a)
#define FOREACH_2(f, a, b)        f(a) f(b)
#define FOREACH_3(f, a, b, c)     f(a) f(b) f(c)
#define FOREACH_4(f, a, b, c, d)  f(a) f(b) f(c) f(d)</code></pre>
<p>Another one is the &quot;call previous&quot; style, where every expansion on level<br />
N calls the expansion from N-1.</p>
<pre><code>#define FOREACH_1(f, a)       f(a)
#define FOREACH_2(f, a, ...)  f(a) FOREACH_1(f, __VA_ARGS__)
#define FOREACH_3(f, a, ...)  f(a) FOREACH_2(f, __VA_ARGS__)
#define FOREACH_4(f, a, ...)  f(a) FOREACH_3(f, __VA_ARGS__)</code></pre>
<p>In the end of the day, the plain style should be preferred. But I<br />
hear &#8211; the &quot;call previous&quot; is easier to write, less to type, easier to<br />
generate. Yes. And I still use it, when I am lazy. But the problem is<br />
in error messages.</p>
<p>Every time you descend in another expansion, GCC will generate yet another<br />
one of &quot;note: in expansion of&quot; message in case of error. With the call<br />
previous style, if the error happens to be in the last case in 4 cases,<br />
you will get a wall of 4 &quot;note: in expansion of&quot; messages. With many more<br />
cases and nested macros usages, shovels just break when trying to dig<br />
through the depths of walls of texts from the compiler. The plain style<br />
results in few expansions, saving memory of the compiler and saving you<br />
the time to read the error messages. Prefer it whenever possible.</p>
<p>Altogether, the macro looks like the following, with a small usage<br />
example of a program existing with 10:</p>
<pre><code>#define FOREACH_1(f, a)           f(a)
#define FOREACH_2(f, a, b)        f(a) f(b)
#define FOREACH_3(f, a, b, c)     f(a) f(b) f(c)
#define FOREACH_4(f, a, b, c, d)  f(a) f(b) f(c) f(d)
#define FOREACH_N(_4,_3,_2,_1,N,...)  FOREACH##N
#define FOREACH(f, ...) FOREACH_N(__VA_ARGS__,_4,_3,_2,_1)(f, __VA_ARGS__)

#define PLUS(x)  + x
int main() {
    return 0 FOREACH(PLUS, 1, 2, 3, 4);  // return 0 + 1 + 2 + 3 + 4;
}</code></pre>
<h1>Style</h1>
<p>And let&#8217;s talk a little bit about the style. Firstly, indentation. The<br />
rule is that there have to be at least two spaces separating macro right<br />
parenthesis <code>)</code> from the replacement. This is to visually distinguish<br />
the replacement from the macro definition.</p>
<pre><code>#define FOREACH_4(f, a, b, c, d)  f(a) f(b) f(c) f(d)
//                  ^  ^  ^  ^        ^    ^    ^      - one space
//                              ^^                     - two spaces</code></pre>
<p>While I usually write <code>_4,_3,_2,_1,</code> as one block without spaces,<br />
I wouldn&#8217;t mind the spaces if they were added by a tool, or by other<br />
programmers. That&#8217;s fine. That is usually anyway just a long list of<br />
<code>_63, _62, _61, .......</code> numbers.</p>
<p>Secondly, I usually align all <code>FOREACH</code> on one column to visually see<br />
all the names:</p>
<pre><code>#define FOREACH_N(_4,_3,_2,_1,N,...)  \
        FOREACH##N
#define FOREACH(f, ...)  \
        FOREACH_N(__VA_ARGS__,_4,_3,_2,_1)(f, __VA_ARGS__)</code></pre>
<p>This is really helpful in case of renames. You see all the <code>FOREACH</code><br />
aligned together, and it is quite clear what should be renamed in case<br />
you want to change the macro name.</p>
<p>If the list of numbers is long, not many people know that you can break<br />
a macro definition mid-parameter list.</p>
<pre><code>#define FOREACH_N(_4, _3, _2, _1, \
        N, ...)  \ FOREACH##N
#define FOREACH(f, ...)  \
        FOREACH_N(__VA_ARGS__, _4, _3, _2, _1) \ (f, __VA_ARGS__)</code></pre>
<p>That way, even if the list <code>_4,_3,_2,_1</code> is very long, you still visually<br />
see to the left what is going on. The <code>N</code> is left aligned, the <code>(f, __VA_ARGS__)</code> is immediately visible.</p>
<p>Finally, you see people writing the following code, saving the <code>_</code> in the<br />
&quot;arguments shifting macro&quot; call:</p>
<pre><code>#define FOREACH_N(_4,_3,_2,_1,N,...)  FOREACH_##N
#define FOREACH(f, ...)               FOREACH_N(__VA_ARGS__,4,3,2,1)(f, __VA_ARGS__)</code></pre>
<p>This is great and acceptable, it just has one drawback. When using<br />
code generation, you have to write two functions &#8211; one to generate<br />
<code>_4,_3,_2,_1</code> and then to generate <code>4,3,2,1</code>. It is not much, but it is<br />
much simpler to just generate one sequence and reuse it in two places. Or<br />
in other words, when writing by hand, I can just select <code>_4,_3,_2,_1</code><br />
and copy it to the call, instead of retyping it.</p>
<h1>Default arguments</h1>
<p>Knowing the basics, it is trivial to implement some use cases. The<br />
following implements a function call with default arguments:</p>
<pre><code>#include <stdio.h>

enum {
   LOG_LVL_DEFAULT = 0, lOG_ERROR = 1,
};

void log(FILE *, int lvl, const char *msg) {}

#define LOG_1(msg)             log(stderr, LOG_LVL_DEFAULT, msg)
#define LOG_2(file, msg)       log(  file, LOG_LVL_DEFAULT, msg)
#define LOG_3(file, lvl, msg)  log(  file,             lvl, msg)
#define LOG_N(_3,_2,_1,N,...)  LOG##N
#define LOG(...)               LOG_N(__VA_ARGS__,_3,_2,_1)(__VA_ARGS__)

int main() {
    LOG("hello world");                      // log(stderr, LOG_LVL_DEFAULT, "hello world");
    LOG(stdout, "hello world");              // log(stdout, LOG_LVL_DEFAULT, "hello world");
    LOG(stdout, LOG_ERROR, "hello world");   // log(stdout, LOG_ERROR, "hello world");
}</code></pre>
<p>While this example is not particularly useful, it shows how incredibly<br />
<em>easy</em> it is to build a function call with default arguments, also in<br />
any other.</p>
